<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>




<div class="space">
    <div class="subtitle">{if $action=='edit'}修改{else}添加{/if}管理员</div>
<form method="post" name="myform" action="{if $action!='edit'}?file={$file}&action=add{/if}">
<table class="maintable" border="0" cellspacing="0" cellpadding="0">
    <tr class="altbg1">

        {if $action=='add'}
        <td width="150"><b>用户名</b></td>
        <td>
            <input type="text" name="data[username]" size="20" value="{$username}" size="20" require="true" datatype="limit"  min="3" max="20" msg="用户名不得少于3个字符超过20个字符">
        {else}
        <td width="150"><b>用户名</b></td>
        <td>
            {$username}
        {/if}
        </td>
     </tr>
    <tr class="altbg1">
        <td><b>密码</b></td>
        <td><input type="password" name="data[password]" size="20" value="" /> {if $action=='edit'}不修改密码请留空{/if}</td>
     </tr>
    <tr class="altbg1">
        <td><b>E-mail</b></td>
        <td><input type="text" name="data[email]" size="20" value="{$email}" /></td>
     </tr>

{if $_roleid==4 || $_key==1}
    <tr class="altbg1">
        <td><b>管辖地区</b></td>
        <td><?=form::select_area('areacode','','','',$areacode)?>
        <span style="margin-left:20px;color:red;">提示：如果不选择管辖地区，则默认为添加超级管理员。</span>
        </td>
    </tr>

    <tr class="altbg1">
        <td><b>用户组</b></td>
        <td><?=form::select_role('data[roleid]',$roleid)?>
        </td>
    </tr>
{/if}
    
    <tr class="altbg1">
        <td colspan="2"><input type="submit" name="dosubmit" class="btn" value="提交" />
        
        <input name="goback" type="button"  class="btn" value="返回" onclick="history.back();" />
        </td>
    </tr>
</table>
</form>
</div>


<script language="javascript" type="text/javascript">
$().ready(function() {
	  $('form').checkForm(1);
	});
</script>
</body>
</html>