<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>
<div id="body">
<form method="post" action="">
    <div class="space">
        <div class="subtitle">更改网站后台目录</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="20%" class="altbg1">当前目录:</td>
                <td>{ADMIN_PATH}</td>
            </tr>
            <tr>
                <td class="altbg1">新目录:</td>
                <td><input name="admindir" size="15" value="" /> 修改后需要重新登陆</td>
            </tr>
            <tr>
                <td class="altbg1">注意：</td>
                <td>请确保程序有写入权限，否则可能导致系统无法正常工作！<br />
                也可以手动修改以下三项（必须一样）：<br />
                文件：{DC_ROOT}inc/config.inc.php中的<font color=red>ADMIN_PATH</font><br />
                文件：{DC_ROOT}<font color=red>admin</font>.php<br />
                目录：{DC_ROOT}<font color=red>admin</font>/
                </td>
            </tr>
            <tr>
                <td class="altbg1"></td>
                <td><input type="submit" name="dosubmit" value=" 更改 " class="btn" /></td>
            </tr>
        </table>

    </div>

</form>

</div>

</body>
</html>