<?php
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>
{$menu}
<form name="myform" method="post" action="?mod=<?=$mod?>&file=<?=$file?>&action=listorder">
    <div class="space">
        <div class="subtitle"><?=$parentid && $parentname ? '['.$parentname.'] 子' : ''?>地区管理</div>

<table cellpadding="0" cellspacing="0" class="maintable">
<tr class="altbg1">
<td width="5%">选择</td>
<td width="5%">排序</td>
<td width="5%">编号</td>
<td>名称</td>
<td>域名</td>
<td width="30%">管理操作</td>
</tr>
{loop $areas $info}
<tr>
<td><input type="checkbox" name="acode[]" value="<?=$info['areacode']?>" id="shop_<?=$info['areacode']?>" /></td>
<td class="align_c"><input type="text" name="listorder[{$info['aid']}]" value="{$info['listorder']}" style="width:30px;"></td>
<td class="align_c">{$info[areacode]}</td>
<td {if $info[status]}style="color:red;"{/if}>{$info[areaname]}</td>
<td class="align_c">{$info[domain]}</td>
<td class="align_c">
{if strlen($info[areacode])<6}
<a href="?file={$file}&action=add&parentid={$info[areacode]}&parentname={urlencode($info['areaname'])}">添加子地区</a> |
{/if}
{if $area->get_childs($info[areacode])}
<a href="?file={$file}&action=manage&parentid={$info[areacode]}&parentname=<?=urlencode($info['areaname'])?>">子地区</a> 
{else}
<a href="?file=marketarea&action=manage&areacode={$info[areacode]}&parentname=<?=urlencode($info['areaname'])?>">商圈</a> 
{/if}
|
<a href="?file={$file}&action=edit&areacode={$info[areacode]}&parentname={urlencode($parentname)}">修改</a> |
{if $info[status]}
<a href="?file={$file}&action=status&id={$info[aid]}&status=0">关闭</a>
{else}
<a href="?file={$file}&action=status&id={$info[aid]}&status=1" style="color:blue;">开通</a>
{/if}
 |
<a href="javascript:confirmurl('?&file={$file}&action=delete&areacode=<?=$info['areacode']?>&forward='+escape('<?=$forward?>'), '确认删除地区“<?=$info['areaname']?>” {if strlen($info[areacode])<6}及其子地区{/if}吗')">删除</a>
</td>
</tr>
<?php
	}
?>
</table>

<div class="button_box">
<span style="width:60px"><a href="###" onclick="javascript:$('input[type=checkbox]').attr('checked', true)">全选</a>/<a href="###" onclick="javascript:$('input[type=checkbox]').attr('checked', false)">取消</a></span>

	 <input name="dosubmit" type="submit"  class="btn" value=" 排序 " /> 
     
	 <input  type="button"  class="btn" value="添加地区" onclick="redirect('?file={$file}&action=add&parentid={$parentid}&parentname={urlencode($parentname)}&forward={urlencode(URL)}')" />

		<input type="button" class="btn" name="move" value=" 开通 " onclick="myform.action='?mod=<?=$mod?>&file=<?=$file?>&action=status&status=1&forward=<?=urlencode(URL)?>';myform.submit();"> 
		<input type="button" class="btn" name="move" value=" 关闭 " onclick="myform.action='?mod=<?=$mod?>&file=<?=$file?>&action=status&status=0&forward=<?=urlencode(URL)?>';myform.submit();"> 
	 {if $parentid}<input name="goback" type="button"  class="btn" value="返回" onclick="history.back();" />{/if}

</div>
<div id="pages">
	<?=$area->pages?>
</div>


</div>
</form>

</body>
</html>