<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>

<div class="space">
    <div class="subtitle">{$name} 数据列表</div>

<form method="post" name="myform" action="">
<table class="maintable" border="0" cellspacing="0" cellpadding="0">
<tr class="altbg1">
<td width="5%">选中</td>
<td>所属地区</td>
<td width="25%">独立调用代码</td>
<td width="25%">管理操作</td>
</tr>
{loop $datalist $r}
<tr class="altbg1">
<td class="align_c"><input type="checkbox" name="blockid[<?=$r['blockid']?>]" value="<?=$r['blockid']?>" id="block_<?=$r['blockid']?>" /></td>
<td>{if $r[areacode]}{areaname($r[areacode],1)}{else}<font color="red">全国</font>（未添加的地区，默认显示此项）{/if}</td>
<td>&#123;block('{php echo $block->get_pageid($r[blockid]);}',{$r[areacode]})&#125;</td>
<td class="align_c">
<a href="?file=<?=$file?>&action=editdata&blockid=<?=$r['blockid']?>&areacode={$r[areacode]}">修改</a> | 
<a href="javascript:confirmurl('?file=<?=$file?>&action=deletedata&blockid=<?=$r['blockid']?>&areacode={$r[areacode]}','确认要删除吗？')">删除</a>
</td>
</tr>
{/loop}
</table>
<div class="button_box"><input type="button" name="dodelete" value=" 删除 " onclick="myform.action='?mod=<?=$mod?>&file=<?=$file?>&action=delete&forward=<?=urlencode(URL)?>';myform.submit();"> 
<input type="button" name="dorefresh" value=" 刷新碎片 " onclick="myform.action='?mod=<?=$mod?>&file=<?=$file?>&action=refresh&forward=<?=urlencode(URL)?>';myform.submit();"/>
<input type="button" value=" 添加数据 " onclick="location.href='?file=<?=$file?>&action=adddata&blockid={$blockid}&forward=<?=urlencode(URL)?>';"/>
<input type="button" value=" 修改此碎片 " onclick="location.href='?file=<?=$file?>&action=edit&blockid={$blockid}';"/>
<input type="button" value=" 返回 " onclick="location.href='?file=<?=$file?>';"/>

</div>
<div id="pages"><?=$block->pages?></div>
</form>
</div>



</body>
</html>