<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
$parentid = $parentid ? $parentid : 0;
$module = $module ? $module : 'dearcms';
?>




<div id="body">
<form method="post" name="myform" action="">
    <div class="space">
        <div class="subtitle">{if $action=='add'}添加{else}修改{/if}栏目</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">


    <input type="hidden" name="info[module]" value="dearcms" />

    <tr class="altbg1"> 
      <td><b>所属模型</b></td>
      <td>
            <?=form::select_model('info[modelid]',0,0,$modelid)?>
       </td>
    </tr>


            <tr>
                <td width="45%" class="altbg1"><strong>栏目名:</strong></td>
                <td width="55%"><input type="text" name="info[catname]" value="<?=$catname?>" class="txtbox" /></td>
            </tr>
    {if $action=='edit'}
            <tr>
                <td width="45%" class="altbg1"><strong>栏目模板标识:</strong>
                {TPL_PATH}list_<font color=red>new</font>.html <br />
                {TPL_PATH}show_<font color=red>new</font>.html 
                
                <font color=red>红色部分</font></td>
                <td width="55%"><input type="text" name="info[template]" value="<?=$template?>" class="txtbox4" /> 默认留空</td>
            </tr>
    {/if}
    {if $action=='add'}
    	<tr class="altbg1"> 
          <td>上级栏目</td>
          <td>

<?=form::select_cat('parentid',0,0,0,$parentid,'dearcms')?>


          </td>
        </tr>


    {elseif $parentname}
    	<tr class="altbg1"> 
          <td>上级栏目</td>
          <td><span id="parentname">{$parentname}</span></td>
        </tr>
    {/if}




        </table>
        <center>
        <input type="submit" name="dosubmit" value=" 提交 " class="btn" />&nbsp;&nbsp;&nbsp;
        <input type="button" value=" 返回 " onclick="history.go(-1);" class="btn" />&nbsp;&nbsp;&nbsp;</center>
    </div>
</form>
</div>