<?php
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>



<?=$menu?>

<div class="tag_menu" style="width:100%;margin-top:10px;">
<ul>
  <li><a href="###" id='TabTitle0' onclick='ShowTabs(0)' class="selected">基本信息</a></li>
  <li><a href="###" id='TabTitle1' onclick='ShowTabs(1)'>高级设置</a></li>
</ul>
</div>


<form action="?file=<?=$file?>&action=<?=$action?>&catcode=<?=$catcode?>&modelid=<?=$modelid?>&shopid={$shopid}" method="post" name="myform"  enctype="multipart/form-data">
<div id='Tabs0' style='display:'>
<input type="hidden" name="dosubmit" value="1" />

    <div class="space">
<table class="maintable" border="0" cellspacing="0" cellpadding="0">
{if $shopid}
	<tr>
      <td width="20%"><b>所属商铺</b></td>
      <td>{shopname($shopid)}
      </td>
    </tr>
{/if}
 <?php
if(is_array($forminfos['base']))
{
 foreach($forminfos['base'] as $field=>$info)
 {
 
      if($catcode && $field=='catcode'){
        echo "<input type='hidden' name='info[catcode]' value='$catcode' >";
     }else{
 ?>
	<tr>
      <td width="20%"><?php if($info['star']){ ?> <font color="red">*</font><?php } ?> <b><?=$info['name']?></b> <br />
	  <?=$info['tips']?>
	  </td>
      <td><?=$info['form']?> </td>
    </tr>
<?php
    }
} }
?>
<tr>
      <td width="20%"><b>状态</b><br /></td>
      <td>
	  <label><input type="radio" name="status" value="99" checked/> 发布</label>
	  <label><input type="radio" name="status" value="3" > 审核</label>
	  <label><input type="radio" name="status" value="2"> 草稿</label>
	  </td>
    </tr>

    <tr>
      <td></td>
      <td>
	  <input type="hidden" name="forward" value="<?=$forward?>">
	  <input type="submit" name="dosubmit" class="btn"  value=" 确定 ">
<!--	  &nbsp; <input type="button" name="preview" value=" 预览 " onclick="preview_content();">  -->
	  &nbsp; <input type="reset" name="reset" class="btn"  value=" 清除 ">
	  </td>
    </tr>
</table>

</div>

</div>


<div id='Tabs1' style='display:none'>

    <div class="space">
<table class="maintable" border="0" cellspacing="0" cellpadding="0">

 <?php
if(is_array($forminfos['senior']))
{
 foreach($forminfos['senior'] as $field=>$info)
 {
 ?>
	<tr>
      <td width="20%"><?php if($info['star']){ ?> <font color="red">*</font><?php } ?> <b><?=$info['name']?></b> <br />
	  <?=$info['tips']?>
	  </td>
      <td><?=$info['form']?> </td>
    </tr>
<?php
} }
?>
    <tr> 
      <td></td>
      <td>
	  <input type="hidden" name="forward" value="<?=$forward?>">
	  <input type="submit" name="dosubmit" class="btn"  value=" 确定 ">
      &nbsp; <input type="button" name="preview" class="btn" value=" 预览 " onclick="preview_content();">
	  &nbsp; <input type="reset" name="reset" class="btn" value=" 清除 ">
	  </td>
    </tr>
</table>

</div>


</div>


</form>
<script LANGUAGE="javascript">
<!--
function preview_content()
{
	myform.action = "preview.php";
	myform.target = "_blank"; 
	myform.submit(); 
	myform.action = "?file=<?=$file?>&action=<?=$action?>&catcode=<?=$catcode?>&modelid=<?=$modelid?>";
	myform.target="_self";
}
$().ready(function() {
	$('form').checkForm(1);
	$('.jqmWindow').jqm({overlay: 0	}).jqDrag('.title');
	});

//-->
</script>
</body>
</html>