<?php
defined('IN_DC') or exit('Access Denied');
include atpl('header');

?>


<form name="myform" method="post" action="?mod=<?=$mod?>&file=<?=$file?>&action=listorder">
    <div class="space">
        <div class="subtitle">添加信息 选择栏目</div>

<table cellpadding="0" cellspacing="0" class="maintable">
<tr class="altbg1">

<td width="5%">编号</td>
<td width="20%">名称</td>
<td>管理操作</td>
</tr>


{loop $CAT $info}
{if $info[module]=='dearcms' && strlen($info[catcode])==2}

<tr>
<td class="align_c">{$info[catcode]}</td>
<td>{$info[catname]}</td>
<td class="align_c"><a href="?file=content&action=add&catcode={$info[catcode]}" style="color:red;">发布信息</a></td>
</tr>

{loop $CAT $info2}
{if substr($info[catcode],0,2)==substr($info2[catcode],0,2) && $info[catcode]!=$info2[catcode]}
<tr>
<td class="align_c">{$info2[catcode]}</td>
<td> &nbsp;&nbsp;&nbsp; {$info2[catname]}</td>
<td class="align_c"><a href="?file=content&action=add&catcode={$info2[catcode]}" style="color:red;">发布信息</a></td>
</tr>
{/if}
{/loop}


{/if}
{/loop}


</table>




</div>
</form>

</body>
</html>