{atpl 'header'}

<div id="body">
    {if $install_exists}
    <div class="space">
    <table class="maintable" border="0" cellspacing="0" cellpadding="0">
        <tr><td>
        <span class="font_4">注意：请尽快删除系统目录下的 install.php 和 install 目录，以免被他人非法利用。</span>
        </td></tr>
    </table>
    </div>
    {/if}
    
    {if !$gd}
    <div class="space">
    <table class="maintable" border="0" cellspacing="0" cellpadding="0">
        <tr><td>
        <span class="font_4">注意：系统不支持GD库，请配置好服务器。</span>
        </td></tr>
    </table>
    </div>
    {/if}


    <div class="space">
        <div class="subtitle">系统信息</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
            <tr id="trNewversion" style="display:none;"><td colspan="2">---</td></tr>
            <tr><td class="altbg1">程序版本:</td><td>{$_VERSION['version']} Build {$_VERSION['build']} </td></tr>
            <tr><td class="altbg1">服务器解译引擎:</td><td>{$server['software']}</td></tr>
            <tr><td class="altbg1">PHP版本</td><td>{$server['phpver']}&nbsp;
            {if substr($server['phpver'],0,1)<5}<span class="font_1">强烈建议升级到PHP 5.x</span>{/if}</td></tr>
            <tr><td class="altbg1">MySQL版本</td><td>{$server['mysqlver']}&nbsp;
            {if substr($server['mysqlver'],0,1)<5}<span class="font_1">建议升级到MySQL 5.x</span>{/if}</td></tr>
            
            <tr><td width="200" class="altbg1">服务器时间:</td><td>{$server['time']}</td></tr>
            <tr><td class="altbg1">文件上传:</td><td>{$server['upfile']}</td></tr>
            <tr><td class="altbg1">全局变量 register_globals:</td><td>{if ini_get('register_globals')}开启{else}关闭{/if}(建议关闭)</td></tr>
            <tr><td class="altbg1">安全模式 safe_mode:</td><td>{if ini_get('safe_mode')}开启{else}关闭{/if}</td></tr>
            <tr><td class="altbg1">图形处理 GD Library:</td><td>{$server['gd']}</td></tr>
            <tr><td class="altbg1">Magic_Quotes_Gpc:</td><td>{if ini_get('magic_quotes_gpc')}开启{else}关闭{/if}</td></tr>
            <tr><td class="altbg1">是否允许打开远程连接:</td><td>{if ini_get("allow_url_fopen")}支持{else}不支持{/if}(反向整合需要)</td></tr>
            <tr><td class="altbg1">内存占用:</td><td>{$server['memory']} KB</td></tr>
        </table>
    </div>
    <div class="space">
        <div class="subtitle">数据统计</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
          <tr><td width="200" class="altbg1">会员数量:</td><td>{$system['members']}</td></tr>
          <tr><td class="altbg1">商铺数量:</td><td>{$system['shops']}&nbsp;(会员登记:{$system['shops_mbpost']})</td></tr>
          <tr><td class="altbg1">打折信息:</td><td>{$system['discounts']}</td></tr>
          <tr><td class="altbg1">点评总量:</td><td>{$system['reviews']}</td></tr>
          <tr><td class="altbg1">回应总量:</td><td>{$system['respond']}</td></tr>
        </table>
    </div>
    <div>
        <div class="subtitle">{$_VERSION['name']} 开发团队</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
            <tr><td width="200" class="altbg1">程序开发:</td><td>Henter</td></tr>
        </table>
    </div>
</div>
