<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html><head>
<title>关键词管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=GBK" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<link rel="stylesheet" type="text/css" href="images/admin/admin.css">
<link rel="stylesheet" type="text/css" href="images/admin/treeview.css">
<script type="text/javascript" src="images/js/jquery.js"></script>
<script type="text/javascript" src="images/js/common.js"></script>
<base target='_self'>
</head>
<body >



    <div class="space">
        <div class="subtitle">关键词管理</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">

<tr class="altbg1">
<td>关键词</td>
<td>引用次数</td>
<td>点击次数</td>
</tr>
<?php 
if(is_array($infos)){
	foreach($infos as $info){
?>
<tr onclick="window.returnValue='<?=$info['tag']?>';window.close();" style="cursor:pointer">
<td><?=$info['tag']?></td>
<td><?=$info['usetimes']?></td>
<td><?=$info['hits']?></td>
</tr>
<?php 
	}
}
?>
</table>
<div id="pages"><?=$keyword->pages?></div>
    
</div>
</body>
</html>