{atpl 'header'}
<script type="text/javascript">
	$(document).ready(function(){
        $("#left_menu").treeview();
    });
</script>


<div class="tvborder">
<ul id="left_menu" class="filetree">

{if $_roleid>4 && ($parentid==1 || $parentid==2)}
<li>

	<span class="folder">便捷菜单</span>
	<ul>
        {get sql="SELECT * FROM `dc_menu` WHERE `pass`=1 AND `isfolder`=1 AND `url`!='' $menusql ORDER BY `listorder`, `menuid`" return="c"}
		<li><span class="file"><a href="?file=menu&action=goto&menuid={$c[menuid]}" target="main">{$c[name]}</a></span></li>
        {/get}
	</ul>

</li>

{else}

{get sql="SELECT * FROM `dc_menu` WHERE `pass`=1 AND `parentid`=$parentid $menusql ORDER BY `listorder`, `menuid`"}
<li>

    {if $r[isfolder]}
	<span class="folder">{$r[name]}</span>
	<ul>
        {get sql="SELECT * FROM `dc_menu` WHERE `pass`=1 AND `parentid`=$r[menuid] $menusql ORDER BY `listorder`, `menuid`" return="c"}
		<li><span class="file"><a href="?file=menu&action=goto&menuid={$c[menuid]}" target="main">{$c[name]}</a></span></li>
        {/get}
	</ul>
    
    {else}
    
        <span class="file"><a href="?file=menu&action=goto&menuid={$r[menuid]}" target="main">{$r[name]}</a></span>
        
    {/if}
</li>
{/get}

{/if}
</ul>
</div>
</body>
</html>