<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$DC['sitename']} 系统登录</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="./images/admin/admin.css" rel="stylesheet" type="text/css" />
<link href="./images/admin/login.css" rel="stylesheet" type="text/css" />

<script language="JavaScript">
var siteurl = "{$DC[siteurl]}";
if(self.parent.frames.length != 0) {
	self.parent.location=document.location;
}
function redirect(url) {
	window.location.replace(url);
}
</script>

<style type="text/css">
input{height:22px;line-height:22px;}
</style>
</head>
<body onload="javascript:document.myform.admin_username.focus();">
<table width="600" border="0" cellpadding="8" cellspacing="0" class="login_table" style="margin:0 auto;margin-top:50px;">
<form method="post" action="" name="myform">

<tr><td colspan="2" class="table_title">{$DC['sitename']}  系统登录</td></tr>
<tr><td colspan="2" height="50"></td></tr>
<tr><td width="250" align="right">登录名</td><td width="350"><input type="text" name="admin_username" style="width:150px;" /></td></tr>
<tr><td align="right">密&nbsp;&nbsp;&nbsp;码</td><td><input type="password" name="admin_password" style="width:150px;" /></td></tr>
<tr><td></td><td><input type="submit" name="dosubmit" class="btn" value=" 登 录 " /></td></tr>
<tr><td colspan="2" align="center">Powered by <b>Henter</b></a>&nbsp;&copy;&nbsp;2010</td></tr>

</form>
</table>



</body>
</html>