<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
$parentid = $parentid ? $parentid : 0;
?>

<script type="text/javaScript">

function remak_mappoint(){
    var obj = document.getElementById('remark_iframe');
    var iframe = document.getElementById('imappoint');
    if(iframe && (iframe.src == '#'|| iframe.src.substr(iframe.src.length-1,1) =='#')) {
        iframe.src = "admin/selectmap.php?mapkey={MAPKEY}";
    }
    if(obj) obj.style.display = "";
}
</script>


<div class="space">
    <div class="subtitle">操作提示</div>
    <table class="maintable" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <font color=red>
            <li>注意：商圈所属的地区，只能是最底层地区，如果该地区下面还有子地区，是无法对该地区添加商圈的。</li>
            </font>
    </td></tr>
    </table>
</div>





<div class="space">
<form method="post" name="myform" action="">
    <div class="subtitle">{if $action=='add'}添加{else}修改{/if}商圈</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
        <input type="hidden" name="info[areacode]" value="{$areacode}" />

	<tr class="altbg1"> 
      <td width="150">所属地区</td>
      <td><span id="parentname">{areaname($areacode,1)}</span></td>
    </tr>



    <tr><td width="40%" class="altbg1">商圈名称：
    <td>
    <input type="text" name="info[areaname]" value="{$areaname}" class="txtbox2" />&nbsp;&nbsp;例如：上下九步行街</td></tr>


    <tr><td class="altbg1">默认位置：<br />地图标注时使用，用于确定城市或地区位置<td>
    <input type="text" name="info[mappoint]" id="map" value="{$mappoint}" class="txtbox2" />&nbsp;
    <button type="button" class="btn2" onclick="remak_mappoint();">设置</button></td></tr>
    <tr id="remark_iframe" style="display:none;">
        <td colspan="2"><iframe src="#" id="imappoint" frameborder=no height="380" width="100%"></iframe></td>
    </tr>
    </table>



    <center><input type="submit" name="dosubmit" value=" 提交 " class="btn" />&nbsp;&nbsp;&nbsp;
    <input type="button" value=" 返回 " onclick="javascript:history.go(-1);" class="btn" /></center>
</form>
</div>





</body>
</html>
<script language="javascript" type="text/javascript">
$().ready(function() {
	  $('form').checkForm(1);
	});
</script>