<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>
<script type="text/javaScript">
function getchild(parentid)
{
	$.ajax({
	  url: '?',
	  data: "file=<?=$file?>&action=getchild&parentid="+parentid,
	  cache: false,
	  success: function(html)
	  {
		  parentid == 0 ?  $('#parent').html(html) : $('#parent').append(html); 
	  }
	});
}
</script>

    <div class="space">
        <div class="subtitle">添加菜单</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">
   <form action="?file=<?=$file?>&action=<?=$action?>" method="post" name="myform">
	<tr class="altbg1"> 
      <td width="150"><strong>上级菜单</strong></td>
      <td><input name="info[parentid]" id="parentid" type="hidden" value="<?=$parentid?>"><?php if($parentname){?><span id="parentname"><?=$parentname?></span><?php }?><span id="parent"></span> <a href="###" onclick="javascript:getchild(0);$('#parentname').hide();">重选</a></td>
    </tr>
	<tr class="altbg1"> 
      <td><font color="red"><strong>菜单名称</strong></font> </td>
      <td><input name="info[name]" type="text" value="<?=$name?>" size="20" maxlengtd="20" require="true" datatype="limit" min="2" max="20" msg="不得少于2个字符超过20个字符|"></td>
    </tr>
	<tr> 
      <td><strong>链接地址</strong></td>
      <td><input name="info[url]" type="text" value="<?=$url?>" maxlengtd="100" style="width:70%"></td>
    </tr>
	<tr> 
      <td><strong>是否显示</strong></td>
      <td>
      <?=form::radio(array(1=>'是',0=>'否'),'info[pass]','',$pass)?>
      </td>
    </tr>
    <tr> 
      <td></td>
      <td>
           <input type="hidden" name="menuid" value="<?=$menuid?>"> 
	    <input type="hidden" name="forward" value="<?=$forward?>"> 
	    <input type="Submit" name="dosubmit" class="btn" value=" 确定 ">&nbsp;  
        <input type="reset" name="reset" class="btn"  value=" 清除 "> &nbsp; 
        <input name="goback" type="button"  class="btn" value="返回" onclick="history.back();" />
        </td>
    </tr>
  </form>
</table>


</div>
</body>
</html>
<script language="javascript" type="text/javascript">
$().ready(function() {
	  $('form').checkForm(1);
	});
</script>