<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>


<?=$menu?>

    <div class="space">
        <div class="subtitle"><?=$modelname?>模型字段管理</div>
<form method="post" name="myform" action="?file={$file}&action=listorder&modelid={$modelid}">
<table class="maintable" border="0" cellspacing="0" cellpadding="0">

<tr>
<td>排序</td>
<td>字段名</td>
<td>别名</td>
<td>类型</td>
<td>系统</td>
<td>必填</td>
<td>搜索</td>
<td>排序</td>
<td>投稿</td>
<td>管理操作</td>
</tr>
<?php 
if(is_array($infos)){
	foreach($infos as $info){
?>
<tr>
<td class="align_c"><input type="text" name="info[<?=$info['fieldid']?>]" value="<?=$info['listorder']?>" size="3"/></td>
<td><?=$info['field']?></td>
<td><?=$info['name']?></td>
<td><?=$fields[$info['formtype']]?></td>
<td class="align_c"><?=($info['issystem'] ? '<font color="red">√</font>' : '')?></td>
<td class="align_c"><?=($info['minlength'] ? '<font color="red">√</font>' : '')?></td>
<td class="align_c"><?=($info['issearch'] ? '<font color="red">√</font>' : '')?></td>
<td class="align_c"><?=($info['isorder'] ? '<font color="red">√</font>' : '')?></td>
<td class="align_c"><?=($info['isadd'] ? '<font color="red">√</font>' : '')?></td>
<td class="align_c">
<?php if($info['iscore']){ ?>
	<span style="color:#cccccc">修改 | 复制 | 禁用 | 删除</span>
<?php }else{ ?>
	<a href="?file=<?=$file?>&action=edit&modelid=<?=$modelid?>&fieldid=<?=$info['fieldid']?>">修改</a> | 
	<a href="?file=<?=$file?>&action=copy&modelid=<?=$modelid?>&fieldid=<?=$info['fieldid']?>">复制</a> | 
	<a href="?file=<?=$file?>&action=disable&modelid=<?=$modelid?>&fieldid=<?=$info['fieldid']?>&disabled=<?=($info['disabled']==1 ? 0 : 1)?>"><?=($info['disabled']==1 ? '<font color="red">启用</font>' : '禁用')?></a> | 
	<?php if($info['issystem']){ ?>
	<span style="color:#cccccc">删除</a></span>
	<?php }else{ ?>
	<a href=javascript:confirmurl("?file=<?=$file?>&action=delete&modelid=<?=$modelid?>&fieldid=<?=$info['fieldid']?>","确认要删除‘<?=$info['name']?>’字段吗？")>删除</a>
	<?php } ?>
<?php } ?>
</td>
</tr>
<?php 
	}
}
?>
</table>
<div class="button_box"><input type="submit" name="dosubmit" class="btn" value=" 排序 "></div>

</div>
</form>
</body>
</html>