<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>
<?=$menu?>
<div class="space">
     <div class="subtitle">内容模型管理</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">
<tr class="altbg1">
<td width="15%">名称</td>
<td>描述</td>
<td width="15%">数据表</td>
<td width="8%">数据量</td>
<td width="35%">管理操作</td>
</tr>
<?php 
if(is_array($infos)){
	foreach($infos as $info){
?>
<tr class="altbg1">
<td class="align_c"><?=$info['name']?></td>
<td><?=$info['description']?></td>
<td class="align_l"><a href="?file=model_field&action=manage&modelid=<?=$info['modelid']?>"><?=DB_PRE.'c_'.$info['tablename']?></a></td>
<td class="align_c"><?=$model->rows(DB_PRE.'c_'.$info['tablename'])?></td>
<td class="align_c">
<a href="?app=admin&mod=model_field&action=manage&modelid=<?=$info['modelid']?>">字段管理</a> | 
<a href="?app=admin&mod=model&action=edit&modelid=<?=$info['modelid']?>">修改</a> | 
<a href="?app=admin&mod=model&action=disable&modelid=<?=$info['modelid']?>&disabled=<?=($info['disabled']==1 ? 0 : 1)?>"><?=($info['disabled']==1 ? '<font color="red">启用</font>' : '禁用')?></a> | <a href=javascript:confirmurl("?file=<?=$file?>&action=delete&modelid=<?=$info['modelid']?>","确认要删除‘<?=str_replace(' ','&nbsp;',$info['name'])?>’模型吗？")>删除</a>
</td>
</tr>
<?php 
	}
}
?>
</table>

<div id="pages"><?=$model->pages?></div>

</div>
</body>
</html>