<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>
{$menu}
    <div class="space">
        <div class="subtitle">添加内容模型</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">

<form action="" method="post" name="myform">
	<tr class="altbg1"> 
      <td width="300"><b>内容模型名称</b></td>
      <td><input type="text" name="info[name]" size="30" require="true" datatype="limit" min="1" max="50"  msg="字符长度范围必须为1到50位"> <font color="red">*</font></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>内容模型描述</b></td>
      <td><textarea name="info[description]" rows="2" cols="20" id="description" class="inputtext" style="height:43px;width:208px;"></textarea></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>项目名称</b></td>
      <td><input type="text" name="info[itemname]" size="30"> <font color="red">*</font></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>项目单位</b></td>
      <td><input type="text" name="info[itemunit]" size="30"> <font color="red">*</font></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>数据表名</b></td>
      <td><?=DB_PRE?>c_<input type="text" name="info[tablename]" size="12" regexp="^[a-z0-9_]+$" require="true" datatype="limit|custom" min="1" max="50"  msg="字符长度范围必须为1到50位|只能为数字、和字母，下划线"> <font color="red">*</font></td>
    </tr>

	<tr class="altbg1"> 
      <td><b>前台发布信息是否需要审核</b></td>
      <td>
	  <input type='radio' name='info[ischeck]' value='1' checked/> 是&nbsp;&nbsp;&nbsp;&nbsp;
	  <input type='radio' name='info[ischeck]' value='0' /> 否
	  </td>
    </tr>
	<tr class="altbg1"> 
      <td><b>发布、编辑信息时更新相关信息</b></td>
      <td>
	  <input type='radio' name='info[isrelated]' value='1' checked> 是&nbsp;&nbsp;&nbsp;&nbsp;
	  <input type='radio' name='info[isrelated]' value='0' /> 否 
	  （建议在信息量很大时，频繁添加和编辑信息时禁用此项）
	  </td>
    </tr>
    <tr class="altbg1"> 
      <td></td>
      <td>
	  <input type="hidden" name="info[modeltype]" value="0">
	  <input type="hidden" name="forward" value="?mod=<?=$mod?>&file=<?=$file?>&action=manage"> 
	  <input type="submit" name="dosubmit" class="btn" value=" 确定 "> 
      &nbsp; <input type="reset" name="reset"  class="btn" value=" 清除 ">
	  </td>
    </tr>
	</form>
</table>

</div>
</body>
</html>
<script LANGUAGE="javascript">
<!--
$().ready(function() {
	  $('form').checkForm(1);
	});
//-->
</script>