<?php
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>


<?=$menu?>

    <div class="space">
        <div class="subtitle">修改字段</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">

<form action="?file=<?=$file?>&action=<?=$action?>&modelid=<?=$modelid?>&fieldid=<?=$fieldid?>&formtype=<?=$formtype?>&issystem=<?=$issystem?>" method="post" name="myform">

	<tr class="altbg1">
      <td width="25%"><font color="red">*</font> <b>字段名</b><br />
	  只能由英文字母、数字和下划线组成，并且仅能字母开头，不以下划线结尾
	  </td>
      <td><input type="text" name="info[field]" value="<?=$field?>" size="20" readonly></td>
  </tr>
	<tr class="altbg1">
      <td><font color="red">*</font> <b>字段别名</b><br />例如：文章标题</td>
      <td><input type="text" name="info[name]" value="<?=$name?>" size="30" require="true" datatype="limit" min="1" max="50" msg="字符长度范围必须为1到50位"></td>
    </tr>
	<tr class="altbg1">
      <td><b>字段提示</b><br />显示在字段别名下方作为表单输入提示</td>
      <td><textarea name="info[tips]" rows="2" cols="20" id="tips" style="height:60px;width:250px;"><?=$tips?></textarea></td>
    </tr>
	<tr class="altbg1">
      <td><b>字段类型</b><br /></td>
      <td>
	  <select name="info[formtype]" id="formtype" disabled>
{loop $fields $type $name}
{php $selected = $type == $formtype ? 'selected' : '';}
    <option value="{$type}" {$selected}>{$name}</option>
{/loop}
	  </select>
	  </td>
    </tr>
	<tr class="altbg1">
      <td><b>相关参数</b><br />设置表单相关属性</td>
      <td><div id="setting"></div></td>
    </tr>
	<tr class="altbg1">
      <td><b>表单附加属性</b><br />可以通过此处加入javascript事件</td>
      <td><input type="text" name="info[formattribute]" value="<?=$formattribute?>" size="50"></td>
    </tr>
	<tr class="altbg1">
      <td><b>表单样式名</b><br />定义表单的CSS样式名</td>
      <td><input type="text" name="info[css]" value="<?=$css?>" size="10"></td>
    </tr>
	<tr class="altbg1">
      <td><b>字符长度取值范围</b><br />系统将在表单提交时检测数据长度范围是否符合要求，如果不想限制长度请留空</td>
      <td>最小值：<input type="text" name="info[minlength]" id="minlength" value="<?=$minlength?>" size="5"> 最大值：<input type="text" name="info[maxlength]" id="maxlength" value="<?=$maxlength?>" size="5"></td>
    </tr>
	<tr class="altbg1">
      <td><b>数据校验正则</b><br />系统将通过此正则校验表单提交的数据合法性，如果不想校验数据请留空</td>
      <td><input type="text" name="info[pattern]" id="pattern" value="<?=$pattern?>" size="40">
<select name="pattern_select" onChange="javascript:$('#pattern').val(this.value)">
<option value="">常用正则</option>
{loop $patterns $p}
    <option value="{$p[pattern]}">{$p[name]}</option>
{/loop}
</select>
	  </td>
    </tr>
	<tr class="altbg1">
      <td><b>数据校验未通过的提示信息</b><br />当表单数据不满足正在校验时的系统提示信息</td>
      <td><input type="text" name="info[errortips]" value="<?=$errortips?>" size="50"></td>
    </tr>
	<tr class="altbg1">
      <td><b>值唯一</b></td>
      <td><input type="radio" name="info[isunique]" value="1" <?=($isunique ? 'checked' : '')?> /> 是 <input type="radio" name="info[isunique]" value="0" <?=($isunique ? '' : 'checked')?> /> 否</td>
    </tr>
	<tr class="altbg1">
      <td><b>作为基本信息</b><br />本选项只在添加、修改信息时起作用，选“是”则在信息的基本选项中显示，否则在高级选项中显示</td>
      <td><input type="radio" name="info[isbase]" value="1" <?=($isbase ? 'checked' : '')?> /> 是 <input type="radio" name="info[isbase]" value="0" <?=($isbase ? '' : 'checked')?> /> 否</td>
    </tr>
	<tr class="altbg1">
      <td><b>作为搜索条件</b></td>
      <td><input type="radio" name="info[issearch]" value="1" <?=($issearch ? 'checked' : '')?> /> 是 <input type="radio" name="info[issearch]" value="0"  <?=($issearch ? '' : 'checked')?> /> 否</td>
    </tr>

	<tr class="altbg1">
      <td><b>在信息列表中显示</b></td>
      <td><input type="radio" name="info[islist]" value="1" <?=($islist ? 'checked' : '')?> /> 是 <input type="radio" name="info[islist]" value="0"  <?=($islist ? '' : 'checked')?> /> 否</td>
    </tr>
	<tr class="altbg1">
      <td><b>在内容页中显示</b></td>
      <td><input type="radio" name="info[isshow]" value="1" <?=($isshow ? 'checked' : '')?> /> 是 <input type="radio" name="info[isshow]" value="0"  <?=($isshow ? '' : 'checked')?> /> 否</td>
    </tr>
	<tr class="altbg1">
      <td><b>在前台投稿中显示</b></td>
      <td><input type="radio" name="info[isadd]" value="1" <?=($isadd ? 'checked' : '')?> /> 是 <input type="radio" name="info[isadd]" value="0"  <?=($isadd ? '' : 'checked')?> /> 否</td>
    </tr>


    <tr class="altbg1">
      <td></td>
      <td>
	  <input type="hidden" name="forward" value="?mod=<?=$mod?>&file=<?=$file?>&action=manage&modelid=<?=$modelid?>">
	  <input type="submit" name="dosubmit" class="btn" value=" 确定 ">
      &nbsp; <input type="reset" name="reset" class="btn" value=" 清除 ">
	  </td>
    </tr>
	</form>
</table>

</div>
</body>
</html>
<script LANGUAGE="javascript">
<!--
$().ready(function() {

$('#setting').load('?file=<?=$file?>&action=setting_edit&modelid=<?=$modelid?>&fieldid=<?=$fieldid?>&formtype=<?=$formtype?>');

	  $('form').checkForm(1);
	});
//-->
</script>