<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>

<body>
<?=$menu?>
    <div class="space">
        <div class="subtitle">新建模块</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">

<form action="" method="post" name="myform">

    <tr  class="altbg1">
      <td width="30%"><b>模块中文名</b> <font color="red">*</font></td>
      <td><input type="text" name="info[name]" size="30"></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>模块英文名</b> <font color="red">*</font></td>
      <td><input type="text" name="info[module]" size="30"></td>
    </tr class="altbg1">
	<tr> 
      <td><b>模块访问网址</b> <font color="red">*</font><br />例：http://news.***.com/ 如果不绑定域名，请留空</td>
      <td><input type="text" name="info[url]" size="30"></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>版本号</b> <font color="red">*</font></td>
      <td><input type="text" name="info[version]" size="30" value="1.0.0"></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>作者</b> <font color="red">*</font></td>
      <td><input type="text" name="info[author]" size="30"></td>
    </tr>
	<tr> 
      <td><b>E-mail</b> <font color="red">*</font></td>
      <td><input type="text" name="info[email]" size="30"></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>网站地址</b> <font color="red">*</font></td>
      <td><input type="text" name="info[site]" size="30"></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>功能说明</b> <font color="red">*</font></td>
      <td><textarea name="info[description]" id="description" cols="60" rows="8"></textarea><?=form::editor('description', 'introduce', 500, 200)?></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>许可协议</b></td>
      <td><textarea name='info[license]' id="license" cols='60' rows='8'></textarea><?=form::editor('license', 'introduce', 500, 200)?></td>
    </tr>
	<tr class="altbg1"> 
      <td><b>使用帮助</b></td>
      <td><textarea name='info[faq]' id="faq" cols='60' rows='10'></textarea><?=form::editor('faq', 'introduce', 500, 200)?></td>
    </tr>
    <tr class="altbg1"> 
      <td></td>
      <td> 
	  <input type="hidden" name="forward"  class="btn" value="?file=<?=$file?>&action=manage"> 
	  <input type="submit" name="dosubmit"  class="btn" value=" 确定 "> 
      &nbsp; <input type="reset" name="reset" class="btn"  value=" 清除 ">
	  </td>
    </tr>
	</form>
</table>

</div>
</body>
</html>