<?php 
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>



{$menu}


<div class="space">
    <div class="subtitle">后台用户组列表</div>

<table class="maintable" border="0" cellspacing="0" cellpadding="0">
    <tr class="altbg1">
        <td width="130"><b>用户组名称</b></td>
        <td><b>管理操作</b></td>
    </tr>

{loop $roles $info}
<tr class="altbg1">
    <td class="align_l">{$info[rolename]}</td>
    <td class="align_c">
        <a href="?file={$file}&action=edit&id={$info[id]}">修改</a>
        {if $_roleid==4}
         | 
        <a href="#" onClick="javascript:confirmurl('?file={$file}&action=delete&id={$info[id]}', '是否删除该用户组？')" >删除</a>
        {/if}
    </td>
</tr>
{/loop}

</table>


</div>



</body>
</html>