<?php
defined('IN_DC') or exit('Access Denied');
include atpl('header');
?>

<div id="body">
<form method="post" name="myform" action="">
    <div class="space">
        <div class="subtitle">{$subtitles[$type]}模板列表</div>
        <table class="maintable" border="0" cellspacing="0" cellpadding="0">
            <tr class="altbg1">
                <td width="10%">默认</td>
                <td width="20%">模板名称</td>
                <td width="30%">所在目录</td>
                <td width="30%">修改时间</td>
            </tr>

    {loop $tpldirarray[$type] $info}
            <tr>
                <td>
                {if $DC[tpl][$type] == $info[dir]}<font color="green">√</font>{/if}</td>
                <td><input type="text" name="info[{$info[dir]}][name]" value="{$info[name]}" class="txtbox2" style=/></td>
                <td><input type="hidden" name="info[{$info[dir]}][dir]" value="{$info[dir]}" />./template/{$type}/{$info[dir]}</td>
                <td>{$info[mtime]}</td>
            </tr>
    {/loop}


            <tr class="altbg1">
                <td colspan="5">
                    注：系统会自动列出 ./templates/{$type}/下的所有模板目录。<br />
                    <span style="color:red;">请保证模板目录中的模板文件可以正常使用，否则前台页面会出错！</span>
                </td>
            </tr>
        </table>
        <br /><center><input type="submit" name="dosubmit" value=" 更新缓存 " class="btn" /></center>
    </div>
</form>
</div>