.tips{}



.onShow
{
    background:url(../images/onShow.gif) no-repeat; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
}
.onFocus
{
    background:url(../images/onFocus.gif) no-repeat #EBEBEB; 
    padding-left:25px; 
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#06C;
}
.onError
{
    background:url(../images/onError.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#F63;
}
.onCorrect
{
    background:url(../images/onCorrect.gif) no-repeat;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
	color:#090;
}
.onLoad
{
    background:url(../images/onLoad.gif) no-repeat 3px 3px;
    padding-left:25px;
	font-size: 12px;
	line-height:22px; 
	vertical-align:middle;
} 